<form class="container" (submit)="enviarDatos()">
    <div class="m-3 text-center">
        <h3>Registrar Producto</h3>
    </div>
    <div class="mb-3">
      <label for="productInputName" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="productInputName" [(ngModel)]="product.title" name="name">
    </div>
    <div class="mb-3">
      <label for="productInputPrice" class="form-label">Precio</label>
      <input type="number" class="form-control" id="productInputPrice" [(ngModel)]="product.price" name="price">
    </div>
    <div class="mb-3">
      <label for="productTextareaDescription" class="form-label">Descripción</label>
      <textarea id="productTextareaDescription" class="form-control" [(ngModel)]="product.description" name="description"></textarea>
    </div>
    <div class="mb-3">
      <label for="productInputPrice" class="form-label">Imagen</label>
      <input type="file" class="form-control" id="productInputImage" accept=".jpg, .png, .jpeg" multiple [(ngModel)]="product.images" name="image">
    </div>
    <div class="mb-3 text-center">
        <button type="submit" class="btn btn-primary w-50">Registrar</button>
    </div>
</form>