<form [formGroup]="registerForm" class="container" (ngSubmit)="onSubmit()">
    <div class="m-3 text-center">
        <h3>Registrar Producto</h3>
    </div>
    <div class="mb-3">
      <label for="productInputName" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="productInputName" formControlName="name" required>
      <span class="text-danger"
        *ngIf="(registerFormControl['name'].touched || submitted) && registerFormControl['name'].errors?.['required']">
        Name is required
      </span>
    </div>
    <div class="mb-3">
      <label for="productInputPrice" class="form-label">Precio</label>
      <input type="number" class="form-control" id="productInputPrice" formControlName="price" required>
      <span class="text-danger"
        *ngIf="(registerFormControl['price'].touched || submitted) && registerFormControl['price'].errors?.['required']">
        Name is required
      </span>
    </div>
    <div class="mb-3">
      <label for="productTextareaDescription" class="form-label">Descripción</label>
      <textarea id="productTextareaDescription" class="form-control" formControlName="description" required></textarea>
      <span class="text-danger"
        *ngIf="(registerFormControl['description'].touched || submitted) && registerFormControl['description'].errors?.['required']">
        Name is required
      </span>
    </div>
    <div class="mb-3">
      <label for="productInputPrice" class="form-label">Imagen</label>
      <input type="file" class="form-control" id="productInputImage" formControlName="images" accept=".jpg, .png, .jpeg" multiple>
    </div>
    <div class="mb-3 text-center">
        <button type="submit" class="btn btn-primary w-50" [disabled]="!registerForm.valid">Registrar</button>
    </div>
</form>